<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["_content/BlazorEnterpriseStarter.DesignSystem/styles/index.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorEnterpriseStarter.DesignSystem.styles.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorEnterpriseStarter.Components.styles.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorEnterpriseStarter.App.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
